body{
    background-image: url(../img/foto_de_fondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.row{
    background-image: url(../img/foto_de_fondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

}



.navbar-nav a:hover {
    background-color: #04AA6D;;
}

/*----------------------------------*/
/*-------------Tarjetas-------*/
.col{
    padding: 40px ;
    display: flex;
    justify-content: center;
   
}

.card{
    position: relative;
    padding: px; ;
    width: 300px;
    height: 400px;
    background: #fff;
    border-radius: 5px;
    overflow: hidden;
    border-radius: 20px;
    margin: 15px 20px 
}

.card .head{
    height: 125px;
    width: 100%;
    position: relative;
    transition: .5s;
    

}
.card:hover {
    box-shadow: 0 5px 15px blue;
    transform: translateY(-15px);
}
.card .head .image{
    width: 150px;
    height: 150px;
    position: absolute;
    background: #fff;
    padding: 5px;
    border-radius: 50%;
    bottom: -30%;
    left: 50%;
    transform: translate(-50%);

}
.card .head .image img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.card .card-body{
    height: 200px;
    padding: 40px 20px 20px 20px;
    text-align: center;
}
.card .card-body p {
    margin-top: 20px;
    font-size: 15px;

}
.card .card-body h5{
    margin-top: 20px;
    font-size: 20px;
}
/*----------------------------------*/
/*-------------- tarifas--------*/


.container {

    padding: 20px 10px ;
    background:white;
    border-radius: 40px;
}
.container h1{
    text-align: center;
    font-size: 30px;
}


.opcion_menu{
    align-items: center;
}


  h2{
    text-align: center;
  }

.menu-content .moto{
    text-align: center;
}
.menu-content p:hover {
    color: #cda45e;
  }
  /*----------------------------------*/
/*--------------Finde  tarifa--------*/

hr {
    background-color:rgb(236, 14, 14);
   
}
